[submodule "keyswitch-kicad-library"]
	path = keyswitch-kicad-library
	url = https://github.com/perigoso/keyswitch-kicad-library
[submodule "KiCad-RP-Pico"]
	path = KiCad-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico
